<h1><%= @song.name %></h1>
<div>
  <%= binding.pry%>
  <%= link_to @song.genre_id.to_s, genre_path(@song.genre_id) %>
  <p>My Genre</p>
</div>
<div>
  <%= link_to @song.artist_id.to_s, artist_path(@song.artist_id) %>
  <p>My Artist</p>
</div>
