<h1><%= @song.name %></h1>
<div>
  <%= link_to @song.to_s, song_path(@song.id) %>
  <p>My Genre</p>
</div>
<div>
  <%= link_to @song.genre_id.to_s, genre_path(@song.genre_id) %>
  <p>My Artist</p>
</div>
